<div class="row">
  {{#each data}}
    <div class="col-lg-4 ps-5" id="column">
      <p>{{summary}}</p>
      <p class="text-white mb-0">{{name}}</p>
      <a href="#">{{email}}</a>
    </div>
  {{/each}}
</div>