<div class="container-fluid" id="banner-small">
</div>
<div class="container py-5">
  {{#each data}}
    <h1 class="pb-1" style="font-size: 4.5rem; font-weight: 900;">{{name}}</h1>
    <div class="text-black-50">{{{description}}}</div>
  {{/each}}
</div>