<div class="container">
  <div class="row">
    {{#each data}}
      <div class="col-lg-3 col-sm-12">
        <img class="img-thumbnail mb-3" src="{{imagepath}}" alt="{{name}}" />
      </div>
    {{/each}}
  </div>
</div>